<div class="list-container">
  <h1>Liste de Films / Séries</h1>
  <div class="list-frame">
    <ul class="movie-list">
      <li *ngFor="let film of films">
        <button class="movie-link" (click)="selectFilm(film)">
          {{ film.title }}
        </button>
      </li>
    </ul>
  </div>
  <div class="movie-details" *ngIf="selectedFilm">
    <h2>{{ selectedFilm.title }}</h2>
    <a [href]="selectedFilm.link" target="_blank">Lien Allociné</a>
    <img [src]="selectedFilm.poster" alt="Affiche de {{ selectedFilm.title }}" />
  </div>
</div>


